*{
    padding: 0;
    margin: 0;
}
.left {
    position: relative;
    float: left;
    width: 22%;
    height: 100%;
   background-color: rgb(184, 68, 68);
}
.empbutton{
    position: absolute;
    top: 40%;
    left: 30%;
    width: 40%;
    height: 50px;
    font-size: 15px;
    color: rgb(184, 68, 68);
    border-radius: 10px;
    cursor: pointer;
    border: none;
    background-color: rgb(255, 255, 255);
}
.studbutton {
    position: absolute;
    top: 50%;
    left: 30%;
    width: 40%;
    height: 50px;
    font-size: 15px;
    color: rgb(184, 68, 68);
    border-radius: 10px;
    cursor: pointer;
    border: none;
    background-color: rgb(255, 255, 255);
}
.empbutton:active, .studbutton:active {
    color: #fff;
    background-color: rgb(184, 68, 68);
}
.button:hover {
    box-shadow: 0 12px 16px rgba(0,0,0,0.24);   
}
.right {
    position: absolute;
    left: 22%;
    right: 0%;
}
.grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    text-align: center;
    grid-gap: 10px;
    background-color: rgb(109, 58, 70);
    background-color: rgb(109, 59, 70);
    padding: 15px;
}
.gcontainer {    
    padding: 20px;
    margin-left: 30px;
    margin-right: 150px;
}
.gheader {
    display: grid;
    grid-template-columns: auto auto auto auto;
    text-align: center;
    padding: 10px;
    color: #fff;
    background-color: rgb(184, 68, 68);
}
.grid > div {
    display: grid;
    background-color: #c0c0c0;
    grid-template-rows: 50px 10px;
    padding: 10px;
}
.edit {
    position: relative;
    width: 40%;
    left: 5%;
    top: 10;
    height: 40px;
    color: rgb(184, 68, 68);
    border-radius: 8px;
    cursor: pointer;
    border: none;
    background-color: rgb(255, 255, 255);
}
.delete {
    position: relative;
    left: 55%;
    bottom: 40;
    width: 40%;
    height: 40px;
    color: rgb(184, 68, 68);
    border-radius: 8px;
    cursor: pointer;
    border: none;
    background-color: rgb(255, 255, 255);
}
h3 {
    margin-top: 10px;
    margin-bottom: 3px;
}
.addcontainer {
    padding: 2%;
    width: 30%;
    background-color: rgb(200, 88, 88);
    margin-left: 4%;
    margin-right: 600px;
    height: 180px;
}
.name {
    margin-left: 5%;
    margin-bottom: 5%;
    bottom: 10%;
    height: 30px;
	background-color: #c0c0c0;
}
.area {
    margin-left: 7%;
    margin-bottom: 5%;
    height: 30px;
	background-color: #c0c0c0;
}
.id {
    margin-left: 11%;
    margin-bottom: 5%;
    height: 30px;  
	background-color: #c0c0c0;
}
.add {
    float: right;
    position: relative;
    width: 80px;
    height: 40px;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    background-color: rgb(109, 58, 70);
}
.edit:active {
    color: #fff;
    background-color: rgb(184, 68, 68);
}
.delete:active {
    color: #fff;
    background-color: rgb(184, 68, 68);
}
.heading {
    margin-left: 4%;
    width: 13%;
    height: 2%;
    text-align: center;
    background-color: rgb(184, 68, 68);
}
.form {
    white-space: pre;
}